# find open port
export

# start sshd server on the available port
<% if !context.apptainer_image.strip.empty? %>
    echo "Starting sshd in apptainer on port $port"
    /usr/bin/apptainer run --writable-tmpfs -B /mnt -B /var/run/munge -B /var/spool/slurm/conf-cache/slurm.conf:/etc/slurm/slurm.conf -B /nix <%= context.apptainer_image %> <%= context.sshd_command %>
<% else %>
    echo "Starting sshd on port $port"
    <%= context.sshd_command %>
<% end %>