---
cluster: "scc-pilot"
script:
  native:
    - "-q"
    - "<%= auto_qos %>"
    - "--time=<%= bc_num_hours.to_i * 60 %>"
    - "--mem=<%= ram_amount.to_i * 1024 %>"
    - "--cpus-per-task=<%= bc_num_cpus.to_i %>"
    - "--job-name=tunnel"
<% if !extra_slurm_options.empty? %>
    - "<%= extra_slurm_options %>"
<% end %>